@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Custom Fonts */
@font-face {
  font-family: "Eroded Personal Use";
  src: url("./assets/font/ErodedPersonalUseRegular-Eaepe.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-Hairline.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-HairlineItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-Extralight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-ExtralightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-LightItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-MediumItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-Semibold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-SemiboldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Editor's Note";
  src: url("./assets/font/OTF/Editor'sNote-BoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-eroded: "Eroded Personal Use", sans-serif;
  --font-editors-note: "Editor's Note", serif;
  --font-inter: "Inter", sans-serif;
}

@import "tailwindcss";


.bg-cover {
  background-image: url("./assets/newBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

@media (max-width: 768px) {
  .bg-cover {
    background-image: url("./assets/newMob.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
}



